@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');

body{
	font-family:'DM Sans', sans-serif;
	color: black;
}

main{
	max-width: 1200px;
}

blockquote{
	background-color: #eeeeee;
	border-left: 10px solid gray;
	padding: 30px;
}

blockquote a{
	color: pink;
}

.home-hero{
	background-image: url(images/header.jpg);
	height: 475px;
	background-size: cover;
	background-position:center;
	color:#402837;
	padding: 10px 10px 10px 10px;
	margin: 10px;
	border-radius: 10px;
}

header{
	text-align: center;
}

h1, h2{
	font-family: "Englebert", cursive;
	color:black;
}

h3{
	color:deeppink;
}

/*link colors aside from nav*/
a:link{
	color:deeppink;
}
a:visited{
	color:deeppink;
}
a:hover{
	color:darkorange;
}
a:active{
	color:orangered;
}

/*navigation*/
nav{
	background-color: pink;
	border-top: 2px solid pink;
	border-bottom: 2px solid pink;
	padding: 5px;
}
nav ul{
	list-style-type: none;
	text-align: center;
	margin: 8px 0;
	padding:0;
}
nav li{
	display:inline;
	padding:5px;
}
nav a{
	text-decoration: none;
}
nav a:link{
	color:black;
}
nav a:visited{
	color:black;
}
nav a:hover{
	color:hotpink;
}
nav a:active{
	color:pink;
}

/*main*/
main{
	max-width: 1000px;
	margin: 20px auto;
	padding:10px;
}

/*footer*/
footer{
	border-top: solid 2px black;
	text-align: center;
	color: black;
	padding: 15px;
}

.fa{
	font-size: 2em;
	color: deeppink;
}

/*media queries*/
/*CSS without a media query--applies to all sizes unless overridden*/
h1{
  font-size: 4em;
}

/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
  h1{
    font-size: 1.8em;
  }
}

/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
  h1{
    font-size: 1.5em;
  }

  img{
  	display:block;
  	margin: 0 center;
  }
}